@use "../../utils/_main" as utils

.services-page-discover-section
    +utils.flex(column, center, center)
    padding-left: 3vw
    padding-right: 3vw
    +utils.responsive('litle-tablet')
        padding: 0

    &__title
        text-align: center
        +utils.title-typo()

    &__text
        text-align: center
        margin-top: 5%
