@use "../utils/_main" as utils

.footer
    font-size: 0.8rem
    margin: 5%
    margin-top: 5%
    +utils.flex(column, center, center)

    &__informations
        +utils.flex(column, center, center)

    &__copyright
        text-align: center

.footer-contact-list
    +utils.flex(column, center, center)

    &__element
        margin-bottom: 5%

        &--svg
            width: 1rem
            fill: utils.$gold

        &--link
            margin-left: 0.3rem
            &:hover
                color: utils.$gold

.footer-legals
    margin: 1.5rem

    &__link
        &:hover
            color: utils.$gold