@use "../../utils/_main" as utils

.contact-page

    &__div-for-background
        background-color: utils.$grey
        +utils.flex(column, center, center)

    &__error-message
        +utils.flex(column, center, center)
        margin-bottom: 15%
        padding: 5%
        background-color: utils.$red

        &--message
            text-align: center

        &--link-to-form-contact
            text-align: center
            margin-top: 5%
            text-decoration: underline
            text-underline-offset: 0.2rem
            cursor: pointer
            &:hover
                color: utils.$gold
                text-decoration-color: utils.$gold

    &__title
        text-align: center
        +utils.title-typo()

    &__informations
        margin-top: 5%
        max-width: 90%
        +utils.flex(column, center, center)

        &--description
            text-align: center

        &--list-elements
            width: 100%


.contact-page-list-element
    +utils.flex(column, center, center)
    margin-top: 15%
    +utils.responsive('litle-tablet')
        margin-top: 10%

    &__svg
        width: 1.3rem
        fill: utils.$gold

    &__type-info
        margin: 3%
        +utils.responsive('litle-tablet')
            margin: 1%

        &--form-contact
            text-decoration: underline
            text-underline-offset: 0.2rem
            cursor: pointer
            &:hover
                color: utils.$gold
                text-decoration-color: utils.$gold

    &__info
        &:hover
            color: utils.$gold
