<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Formulaire de contact reçu !</h1>
        <p><a href='https://rg-prod.fr{{url}}'>https://rg-prod.fr{{url}}</a></p>
        <p>Ce lien expire le {{expiration_date|date('d/m/Y')}}.</p>
        <p>Administration RG Production.</p>
    </body>
</html>